{% extends "base.html.twig" %}

{% block title %}
    Products Page
{% endblock %}

 {% block body %}

     {% if products %}

         {% for product in products %}
             <li>{{ product.name }}</li>
             <li>{{ product.description }}</li>
             <li>{{ product.price }}</li>
             <li>{{ product.stock }}</li>
         {% endfor %}

     {% else %}
         <p>Whoops, no mobile has been set.</p>
     {% endif %}

 {% endblock %}